@{
    ViewBag.Title = "Home Page";
}
<input id="pac-input" class="controls form-control form-control-dark" type="text" placeholder="Search a location">
<div id="map"></div>
<button type="button" style="position: absolute; bottom: 30px; right: 30px" class="btn btn-danger">Report</button>