@model List<SpotThatFireWebApp.Models.Fire>

@{
    ViewBag.Title = "Home Page";
}
<input id="pac-input" class="controls form-control form-control-dark" type="text" placeholder="Search a location">
<div id="map"></div>
@section scripts {
    <script>

        function displayFire(map) {
            var locations = [];
            locations = @Html.Raw(Json.Encode(@Model));
            $(window).load(function () {
                console.log(locations)
                for (var l = 0; l < locations.length; l++) {
                    var point = { lat: locations[l].Latitude, lng: locations[l].Longitude };
                    var marker = new google.maps.Marker({ position: point, map: map});
                }
           
            });
        }
    </script>
}

<button type="button"
        style="position: absolute; bottom: 30px; right: 30px"
        class="btn btn-danger"
        onclick="reportFire()">
    Report
</button>
